
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 81.11%, rgba(227, 255, 248, 0.38) 99.03%);
  min-height: 100vh; 
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 58px;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #1F1534;
}


ul li a:hover {
  font-weight: bold;
}

h1,
ul {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #000;
  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin: 40px 0px
}

button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #69B99D;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px 15px;
  gap: 10px;
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #4ea788;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 1100px) {
  * {
    transition: 1s;
  }
  .page {
    width: 250px;
    margin: 0 auto;
  }
  nav {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    margin-top: 30px;
  }
  main {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  h1 {
    margin: 0;
    width: 100px;
  }
  button {
    width: 100%;
    margin-bottom: 20px;
  }
  .img-main {
    object-fit: cover;
    height: 250px;
  }
  footer {
    margin-bottom: 20px;
  }
  #balls {
    position: relative;
    height: 50px;
    bottom: 0;
    right: 0;
  }
  
}